<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row">
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label"><b>LoanId:</b></label>
                        <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                      </div>
                     
                      <div class="mb-3">
                          <label for="exampleInputText" class="form-label"><b>LoanName:</b></label>
                          <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputText" class="form-label"><b>LoanPlan:</b></label>
                          <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputText" class="form-label"><b>LoanAmount:</b></label>
                          <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                        </div>  
                        <div class="mb-3">
                          <label for="exampleInputText" class="form-label"><b>Interest:</b></label>
                          <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp">
                        </div>                   
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>
          
          </div>
      </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      
    </div>
  </div>
</div>